:root{
    --bgColor :#392467;
    --boderColor : green;
    --contentColor:white;
    --formColor :#43766C;
}


body{
    margin:0px;
    padding:0px;
    font-family:'Times New Roman', Times, serif;
    background-color: var(--bgColor)
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
h1{
    border-bottom: 6px solid var(--boderColor);
    color:var(--contentColor);
}
#form{
    width: 450px;
    margin: 10vh auto 0 auto;
    background-color:var(--formColor) ;
    border-radius: 5px;
    padding: 30px;
    color:var(--contentColor);

}
label{
    margin-left: 5px;
    font-size: 20px;
}
input ,select{  
    display: block;
    margin-top: 15px;
    width:100%;
    border-radius: 1px;
    padding: 3px;
    font-size: larger;
}


button{
    width: 100%;
    border: 1px solid var(--boderColor);
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--bgColor);
    margin-bottom: 10px;
    color: var(--contentColor);
}

#res{
    font-size: 20px;
    margin-top: 3px;
    color: var(--contentColor);
    
}
